@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap");
@import "tailwindcss";
